<div class="container">
    <div class="col" style="text-align: center;"><h1>CRUD</h1></div>
</div>
  <br> <br>
  
  
  <br/> <br/>


  <form class="form-group row">
    <div class="form-group col-md-3">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" >
    </div>

    <div class="form-group col-md-3">
        <label for="nombre">apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" >
    </div>

    <div class="form-group col-md-3">
        <label for="nombre">direccion</label>
        <input type="number" name="departamento" id="departamento" placeholder="Departamento" class="form-control" >
    </div>

    <div class="form-group col-md-3">
        <label for="nombre">telefono</label>
        <input type="text" name="telefono" id="telefono" placeholder="Telefono" class="form-control" >
    </div>
 
    <div class="form-group col-md-3">
        <label for="nombre">contraseña</label>
        <input type="text" name="contraseña" id="contraseña" placeholder="Contraseña" class="form-control" >
    </div>
 
    <div class="col">
        <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 35px;">agregar</button>
    </div>

  </form>